{% extends 'base.html' %}

{% block conteudo %}

<section class="hero">
    <div class="hero-content">
        <h1>Bem-vindo à nossa Página Inicial</h1>
        <p>Conheça nossos produtos e serviços de alta qualidade. Estamos aqui para atender às suas necessidades.</p>
        <a href="#produtos" class="btn-saiba-mais">Saiba Mais</a>
    </div>
</section>

<section id="produtos" class="produtos">
    <h2>Produtos em Destaque</h2>
    <div class="produto">
        <img src="caminho-para-imagem-produto-1.jpg" alt="Produto 1">
        <h3>Produto 1</h3>
        <p>Uma breve descrição sobre o Produto 1 e seus principais recursos.</p>
        <a href="#" class="btn-comprar">Comprar</a>
    </div>
    <div class="produto">
        <img src="caminho-para-imagem-produto-2.jpg" alt="Produto 2">
        <h3>Produto 2</h3>
        <p>Uma breve descrição sobre o Produto 2 e seus principais recursos.</p>
        <a href="#" class="btn-comprar">Comprar</a>
    </div>
</section>

<section class="servicos">
    <h2>Nossos Serviços</h2>
    <div class="servico">
        <h3>Serviço 1</h3>
        <p>Descrição detalhada do Serviço 1 que oferecemos aos nossos clientes. Explique os benefícios e vantagens deste serviço.</p>
        <a href="#" class="btn-saiba-mais">Saiba Mais</a>
    </div>
    <div class="servico">
        <h3>Serviço 2</h3>
        <p>Descrição detalhada do Serviço 2 que oferecemos aos nossos clientes. Explique os benefícios e vantagens deste serviço.</p>
        <a href="#" class="btn-saiba-mais">Saiba Mais</a>
    </div>
</section>

<section class="depoimentos">
    <h2>Depoimentos</h2>
    <div class="depoimento">
        <p>Produtos com excelente qualidade</p>
        <p><strong>manuela cristina</strong></p>
    </div>
    <div class="depoimento">
        <p>"Praesent luctus felis sit amet nulla ullamcorper, non auctor sapien fringilla. Duis elementum lorem nec metus lacinia gravida."</p>
        <p><strong>Nome do Cliente 2</strong></p>
    </div>
</section>
{% endblock %}
