{% extends 'base.html' %}

{% block conteudo %}
<section class="projects">
    <h2>Projetos</h2>
    <div class="project">
        <img src="caminho-para-imagem-projeto-1.jpg" alt="Projeto 1">
        <h3>Projeto 1</h3>
        <p>Uma breve descrição sobre o Projeto 1 e seus objetivos. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <a href="#" class="btn-saiba-mais">Saiba Mais</a>
    </div>
    <div class="project">
        <img src="caminho-para-imagem-projeto-2.jpg" alt="Projeto 2">
        <h3>Projeto 2</h3>
        <p>Uma breve descrição sobre o Projeto 2 e seus objetivos. Nullam cursus, metus nec accumsan scelerisque, arcu odio gravida tortor.</p>
        <a href="#" class="btn-saiba-mais">Saiba Mais</a>
    </div>
</section>
{% endblock %}
