{% extends 'base.html' %}

{% block conteudo %}
<section class="sobre">
    <h2>Sobre Nós</h2>
    <p>Nós somos uma empresa comprometida em oferecer os melhores produtos e serviços para nossos clientes. Com uma trajetória de sucesso de mais de 10 anos, nos tornamos referência no mercado, sempre prezando pela qualidade e satisfação dos nossos clientes.</p>
    <p>Nossa equipe é formada por profissionais altamente qualificados e apaixonados pelo que fazem. Estamos constantemente buscando inovações e aprimorando nossos processos para atender às necessidades e expectativas do mercado.</p>
    <p>Acreditamos que o sucesso de nossos clientes é o nosso sucesso, e por isso dedicamos todo o nosso esforço para garantir soluções eficientes e resultados excepcionais em cada projeto que desenvolvemos.</p>
</section>
{% endblock %}
